*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

body{
    background:#f4efe6;
    min-height:100vh;
    overflow-x:hidden;
}

/* ===== BACKGROUND GLOW ===== */

.bg-light{
    position:fixed;
    inset:0;
    z-index:-1;
    overflow:hidden;
}

.light{
    position:absolute;
    border-radius:50%;
    filter:blur(120px);
    opacity:0.5;
}

.light:nth-child(1){
    width:400px;
    height:400px;
    background:#d8c3a5;

    top:-100px;
    left:-100px;
}

.light:nth-child(2){
    width:300px;
    height:300px;
    background:#e7d8c9;

    bottom:-100px;
    right:-100px;
}

.light:nth-child(3){
    width:250px;
    height:250px;
    background:#cab8a2;

    top:40%;
    left:50%;
    transform:translateX(-50%);
}

/* ===== NAVBAR ===== */

header{
    width:100%;
    display:flex;
    justify-content:center;

    padding:22px;

    position:fixed;
    top:0;
    z-index:1000;
}

nav{
    width:1200px;
    height:74px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 26px;

    background:rgba(255,255,255,0.35);

    border:1px solid rgba(255,255,255,0.5);

    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border-radius:999px;

    box-shadow:
    0 8px 30px rgba(140,120,90,0.08),
    inset 0 1px 1px rgba(255,255,255,0.5);
}

/* ===== LOGO ===== */

.logo{
    display:flex;
    align-items:center;
    gap:12px;

    color:#2e2a27;

    font-size:1.15rem;
    font-weight:700;

    letter-spacing:-0.5px;
}

.logo-icon{
    width:38px;
    height:38px;

    border-radius:50%;

    background:linear-gradient(
    135deg,
    #ffffff,
    #d9c8b5
    );

    box-shadow:
    0 5px 15px rgba(0,0,0,0.08);
}

/* ===== LINKS ===== */

.nav-links{
    display:flex;
    gap:42px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;

    color:#5b5148;

    font-size:0.95rem;
    font-weight:500;

    transition:0.25s;

    position:relative;
}

.nav-links a:hover{
    color:#1f1c19;
}

/* underline */

.nav-links a::after{
    content:"";

    position:absolute;

    left:0;
    bottom:-6px;

    width:0%;
    height:2px;

    border-radius:10px;

    background:#2e2a27;

    transition:0.25s;
}

.nav-links a:hover::after{
    width:100%;
}

/* ===== BUTTON ===== */

.nav-btn{
    padding:14px 24px;

    border:none;

    border-radius:999px;

    background:#2e2a27;
    color:#f4efe6;

    font-size:0.95rem;
    font-weight:600;

    cursor:pointer;

    transition:0.25s;
}

.nav-btn:hover{
    transform:translateY(-2px);

    background:#1f1c19;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.12);
}

/* ===== HERO ===== */

.hero{
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero h1{
    font-size:5rem;

    color:#2e2a27;

    letter-spacing:-3px;
}

.hero p{
    margin-top:20px;

    color:#6d6257;

    font-size:1.1rem;
}




